{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1>Welcom one the BeamNMods Dashbaord</h1>
    <p>Wants to add your mod to the website ?</p>
    <p>First, login with your discord account</p>
    {% if not app.user %}
        <a href="{{ path('auth_discord_start') }}">
            <button type="button">
                Login with Discord
            </button>
        </a>
    {% else %}
        <a href="{{ path('app_logout') }}">
            <button type="button">
                Logout
            </button>
        </a>
    {% endif %}
{% endblock %}
